<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>

   

                    <div class="signin-form">
                        <center><h2 class="form-title">Welcome To Loan Prediction</h2></center>
                        <div class="form-group">
                            <label for="agree-term" class="label-agree-term"><span><span></span></span>
                            <h5>Loan Approval is based on lot of this rather than going to a bank and getting rejected.we made it simple that you can get your loan approval prediction by our machine learning model for to predict, we need some of your information. </h5>
                            <form action = "{{url_for('predict')}}" method ="POST" >
                            <a href="{{url_for('predict')}}" class="term-service">Predict</a>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

</body>
</html>
